<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Game</title>
</head>
<body>
    <h1>Player: {{ player }}</h1>
    <form method="post" action="/number_baseball_proc">
        <p>야구 게임에 도전하세요!: 
            <input type="text" id="baseball" name="baseball" value=""></p>
            <input type="hidden" id="player" name="player" value="{{ player }}">
        <p><input type="submit" value="도전" /></p>      
    </form>
</body>
</html>