<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Game</title>
</head>
<body>
    <form method="post" action="/star_draw">
        <!-- <p>별모양: 
            <input type="radio" id="shape_1" name="shape" value="*" checked /><label for="shape">*</label>
            <input type="radio" id="shape_2" name="shape" value="%" /><label for="shape">%</label>
            <input type="radio" id="shape_3" name="shape" value="#" /><label for="shape">#</label>
            <input type="radio" id="shape_4" name="shape" value="@" /><label for="shape">@</label>
        </p> -->
        <p>별칭:
            <!-- <input type="text" id="alias" name="alias" value="별" /> -->
            <select id="alias" name="alias">
                <option value="별" selected>별</option>
                <option value="해피">해피</option>
                <option value="구름">구름</option>
                <option value="아기">아기</option>
            </select>
        </p>
        <p>줄 수:
            <input type="radio" id="num_lines_1" name="num_lines" value="5" checked /><label for="num_lines">5</label>
            <input type="radio" id="num_lines_2" name="num_lines" value="10" /><label for="num_lines">10</label>
            <input type="radio" id="num_lines_3" name="num_lines" value="15" /><label for="num_lines">15</label>
            <input type="radio" id="num_lines_4" name="num_lines" value="20" /> <label for="num_lines">20</label>         
        </p>
        <!-- <p>정렬:
            <input type="radio" id="align_1" name="align" value="left" checked /><label for="align">left</label>
            <input type="radio" id="align_2" name="align" value="right" /><label for="align">right</label>
            <input type="radio" id="align_3" name="align" value="center" />  <label for="align">center</label>        
        </p>   -->
        <p><input type="submit" value="그리기" /></p>      
    </form>
</body>
</html>